:root {
  scroll-behavior: smooth;
}
.custom-shape-divider-bottom-1672816407 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}
.custom-shape-divider-bottom-1672816407 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 181px;
}

.bg-curve {
  position: absolute;
  width: 100%;
  padding-top: 20%;
  background: linear-gradient(12deg, #a22ffd, #2d2dd4eb);
  top: 0;
}

.border-bt {
  border-bottom: 1px solid #e1dfdf;
}
.border-rt {
  border-right: 1px solid #e1dfdf;
}
.border-bt-li {
  border-bottom: 1px solid #c4c4c4dc;
}
.grid-main {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.gchild1 {
  grid-area: 1 / 1 / 2 / 6;
  height: 4.5rem;
}
.gchild2 {
  grid-area: 2 / 1 / 6 / 3;
}
.gchild3 {
  grid-area: 2 / 3 / 6 / 6;
}
.leaflet-container {
  height: 18rem;
  width: 90%;
  border-radius: 20px;
  margin-top: 3rem;

  z-index: 1;
}
.transition-smooth {
  transition: all ease-in-out 200ms;
}
.height-full {
  height: 100vh;
}
.ul-padding {
  padding: 16rem 3rem;
}

@media screen and (max-width: 700px) {
  .bg-curve {
    padding-top: 70%;
  }
  .grid-main {
    display: flex;
    flex-direction: column;
  }

  .gchild1 {
    grid-area: 1 / 1 / 2 / 6;
  }
  .gchild2 {
    grid-area: 2 / 1 / 4 / 6;
  }
  .gchild3 {
    grid-area: 4 / 1 / 6 / 6;
  }
  .ul-padding {
    padding: 0.5rem 1rem;
  }
  .border-bt {
    border-bottom: 1px solid #e1dfdf;
  }
  .border-rt {
    border-right: none;
  }
  .border-bt-li {
    border-bottom: none;
  }
  .leaflet-container {
    width: 100%;
  }
  .height-full {
    height: 50vh;
  }
}
