@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 11.5px;
    height: 20px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #fcfcfb;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #d5d2d2eb;
    border-radius: 100vh;
    border: 3px solid #f6f7ed;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #c0a0b9;
  }
}

@layer components {
  .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
  }
  .info > * {
    padding: 6px;
  }
  .info > img {
    height: 200px;
    width: 200px;
  }
  .info > p > b {
    color: rgba(190, 190, 190, 0.91);
    font-weight: 400;
  }
  @media screen and (max-width: 700px) {
    .info {
      align-items: baseline;
    }
  }
}

body {
  padding: 0;
  margin: 0;
}
